* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

:root {
    --bg-color: #000957;
    --snd-bf-color: #040f6f6c;
    --text-color: #ffff;
    --main-color: #FFEB00;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Description h2 {
    font-size: 4rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.Description h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.gambar img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    margin-left: 100px;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.Description p {
    font-size: 1.6rem;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--text-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-icon a:hover {
    background-color: var(--text-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about-content  {
    padding: 5rem 3rem;
    background: var(--text-color);
    border-radius: 61px;
}

.about-me h2 {
    padding: 3rem 5rem;
    text-align: center;
    color: var(--bg-color);
    font-weight: 700;
    font-size: 3.5rem;
}

.about-me p {
    padding: 2rem 3rem;
    text-align: justify;
    color: var(--bg-color);
    font-size: 3rem;
}

.Education h2 {
    padding: 3rem 5rem;
    text-align: center;
    font-size: 3.5rem;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.box img {
    width: 15vw;
    padding: 2rem 2rem;
}

.box1 img {
    padding: 3rem 2rem;
}

.box2 img {
    width: 18vw;
}

.box3 img {
    width: 20vw;
}

.box h2 {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
}

.box h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
}

.box-container .box {
    flex: 1 1 30rem;
    background-color: var(--text-color);
    background: transparent;
    padding: 2rem 3rem;
    border-radius: 5rem;
    text-align: center;
    transition: .5s ease;
}

.box-container .box:hover {
    border: .4rem solid var(--main-color);
    transform: scale(1.02);
}

.Portofolio h1 {
   margin-top: -80px;
   margin-bottom: 70px;
    text-align: center;
    font-size: 3.5rem;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.portofolio {
    color: #B22485;
    background: #F7DFF5;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: #5372f0;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

.heading h2 {
    margin-top: -80px;
   margin-bottom: 70px;
    text-align: center;
    font-size: 3.5rem;
}

.contact {
    background: white;
    padding: 20px;
    margin-left: 41%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.contact h3 {
    text-align: center;
    color: #333;
}
.contact label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #333;
}
.contact input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}
.contact button:hover {
    background-color: #218838;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--snd-bf-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--text-color);
}